Repository assemblerflow/flowcraft, pull requests merged in 2018-10, with the labels that each got.

#140 Fixed inspect for tasks with duration of days
  changelog.md
  flowcraft/generator/inspect.py
Labels: bufix

#143 Added default docker option to avoid docker permission errors.
  changelog.md
  flowcraft/nextflow.config
Labels: enhancement

#146 Added an abyss component to flowcraft, and added a new disableRR parameter to spades
  changelog.md
  flowcraft/generator/components/assembly.py
  flowcraft/generator/engine.py
  flowcraft/generator/templates/abyss.nf
  flowcraft/generator/templates/spades.nf
  flowcraft/templates/spades.py
Labels: Components

#147 Add quast
  flowcraft/generator/components/assembly_processing.py
  flowcraft/generator/engine.py
  flowcraft/generator/templates/quast.nf
Labels: Components

#150 Add bandage
  flowcraft/generator/components/assembly_processing.py
  flowcraft/generator/engine.py
  flowcraft/generator/templates/bandage.nf
Labels: Components

#152 Recipes
  changelog.md
  docs/dev/create_recipe.rst
  docs/index.rst
  docs/resources/reports/mash_dist_table.png
  docs/resources/reports/sliding_window_mash_dist.png
  docs/user/pipeline_reports.rst
  docs/user/reports/mash_dist.rst
  docs/user/reports/sistr.rst
  flowcraft/bin/parse_fasta.py
  flowcraft/flowcraft.py
  flowcraft/generator/components/alignment.py
  flowcraft/generator/components/typing.py
  flowcraft/generator/error_handling.py
  flowcraft/generator/inspect.py
  flowcraft/generator/process.py
  flowcraft/generator/recipe.py
  flowcraft/generator/recipes/__init__.py
  flowcraft/generator/recipes/denim.py
  flowcraft/generator/recipes/innuca.py
  flowcraft/generator/recipes/plasmids.py
  flowcraft/generator/templates/dengue_typing.nf
  flowcraft/generator/templates/mafft.nf
  flowcraft/tests/test_assemblerflow.py
  flowcraft/tests/test_recipes.py
Labels: enhancement

#156 Add unicycler
  changelog.md
  flowcraft/generator/components/assembly.py
  flowcraft/generator/engine.py
  flowcraft/generator/templates/unicycler.nf
Labels: Components

#155 abyss, bandage, spades: Add GFA
  changelog.md
  flowcraft/generator/components/assembly.py
  flowcraft/generator/components/assembly_processing.py
  flowcraft/generator/templates/abyss.nf
  flowcraft/generator/templates/bandage.nf
  flowcraft/generator/templates/spades.nf
Labels: Components

#159 Prokka
  changelog.md
  docs/user/components/mash_screen.rst
  docs/user/components/prokka.rst
  flowcraft/generator/components/annotation.py
  flowcraft/generator/engine.py
  flowcraft/generator/templates/prokka.nf
Labels: Components

#149 Add bcalm flowcraft
  changelog.md
  flowcraft/generator/components/assembly.py
  flowcraft/generator/engine.py
  flowcraft/generator/templates/bcalm.nf
Labels: Components
